body {
    background-color: #e7e9ed;
    min-height: 100vh;
}
.container-fluid {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
}
.form-container, .table-container {
    transition: all 0.5s ease;
}
.form-container {
    width: 50%;
    padding: 5px;
}
.table-container {
    flex: 0 0 50%;
    padding: 10px;
    display: none; /* Initially hidden */
}
.card {
    width: 100%;
    margin-bottom: 0;
}
.card-header {
    font-size: 18px;
    font-weight: bold;
    background-color: #008080;
    color: white;
    text-align: center;
}
.form-label, .table th, .table td {
    font-size: 14px;
    font-weight: bold;
}
.form-control {
    font-size: 14px;
}
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.input-group input[type="text"],
.input-group input[type="date"] {
    flex-grow: 1;
    margin-right: 5px;
}
.input-group-text {
    background-color: #ffffff;
    border-color: #008080;
    color: #008080;
    cursor: pointer;
}
.table-responsive {
    overflow-x: auto;
}
.table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
}
.table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
    word-wrap: break-word;
    white-space: normal;
    font-size: 12px;
    font-weight: normal;
}
.table th {
    background-color: #07aeae;
    color: #333;
    font-weight: bold;
}
.button-container {
    display: flex;
    justify-content: flex-end; /* Align button to the right */
    width: 100%;
    margin-top: 10px;
}
.record-count {
    color: red;
    font-size:14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.simple-table-container {
    margin-top: 10px;
}

.table th.sl-no, .table td.sl-no {
    width: 8%;
}
.table th.cnum, .table td.cnum {
    width: 15%;
}
.table th.date-of-submission, .table td.date-of-submission {
    width: 15%;
}
.table th.claim-no, .table td.claim-no {
    width: 30%;
}
.table th.sla1, .table td.sla1 {
    width: 10%;
}
.table th.user, .table td.user {
    width: 15%;
}