



.hra_table_1 {
    border: 1px solid black;
    border-radius: 2px;
}


.hra_table_1 tr td {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 14% !important;
    font-size: 15px; 
}

.hra_table_1 input,
.hra_table_1 select{
    width: 130px;
    font-size: 15px; 
}


.hra_table_2 tr td:first-child {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 28%;
    font-size: 15px; 
}

.hra_table_2 tr td:nth-child(2),
.hra_table_2 tr td:nth-child(3),
.hra_table_2 tr td:nth-child(4),
.hra_table_2 tr td:nth-child(5) {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 18%;
    font-size: 15px; 
}

.hra_table_2 input,
.hra_table_2 select{
    width: 130px;
    font-size: 15px; 
}