#form4 {
    box-shadow: 0px 0px 4px rgb(117, 114, 114);
    overflow-x: auto;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

#form4 label {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

#form4 #radio {
    font-weight: normal;

}

#form4 input,
#form4 select {
    border: 1px solid black;
    font-size: 16px;
}

#form4 tr {
    height: 50px;
}


#form4 .form-control {
    width: 250px;
}

#form4 td {
    width: 500px;
}



#form4 #readonly {
    background-color: #e6e5e5;
}

#form4 span {
    display: block;
    color: red;
}


@media (max-width: 768px) {
    #form4 td {
        width: 200px;
    }

    #form4 label,
    #form4 input,
    #form4 select {
        font-size: 12px;
    }


    #form4 .form-control {
        width: 150px;
    }

   
}